{{ define "styles" }}
<link rel="stylesheet" href="{{ (resources.Get "css/gallery.scss" | toCSS | minify).Permalink }}" />
<style>
    h1.terminal {
        font-size: 2rem;
    }
</style>
{{ end }}

{{ define "main" }}
<div class="gallery">
    {{ .Content }}
    <ul class="gallery">
        {{ range os.ReadDir "assets/gallery" }}
            {{ if (ne .Name ".gitignore") }}
                {{ with resources.Get (printf "gallery/%s" .Name) }}
                <li>
                    <img src="{{ .RelPermalink }}">
                </li>
                {{ end }}
            {{ end }}
        {{ end }}
    </ul>
</div>
<script src="{{ (resources.Get "ts/gallery.ts" | js.Build | minify).Permalink }}"></script>
{{ end }}