{{ define "styles" }}
	{{ $style := resources.Get "css/index.scss" | toCSS | minify }}
	<link rel="stylesheet" href="{{ $style.Permalink }}">
{{ end }}

{{ define "header" }}
	<header>
		<img id="logo" src="/img/logo_round.svg" alt="">
		<h1 class="terminal">
			<span class="regex"></span>
		</h1>
		<h2 class="subtitle-hidden">
			// literally anything goes
		</h2>
	</header>
{{ end }}

{{ define "main" }}
	<main>
		
	</main>

	{{ $js := resources.Get "js/index.js" | minify }}
	<script src="{{ $js.Permalink }}"></script>
{{ end }}