{{ define "styles" }}
	{{ $style := resources.Get "css/index.scss" | toCSS | minify }}
	<link rel="stylesheet" href="{{ $style.Permalink }}">
{{ end }}

{{ define "header" }}
	<header>
		<div>
			<img id="logo" src="/img/logo_round.svg" alt="">
			<h1 class="terminal">
				<span class="regex"></span>
			</h1>
			<h2 class="subtitle-hidden">
				<span class="comment"> literally anything goes</span>
			</h2>
		</div>
	</header>
{{ end }}

{{ define "main" }}
	<main>
		hi
	</main>
	{{ $js := resources.Get "js/index.js" | minify }}
	<script src="{{ $js.Permalink }}"></script>
{{ end }}