body {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    nav {
        @media screen and (max-width: 600px) {
            ul {
                justify-content: center;
            }
        }
    }
}

h1.terminal {
    margin: auto 0;
    padding: 2rem 0;
    font-size: calc(2rem + 2vw);
    border-width: 2rem 0;
    border-color: var(--color5);
    border-style: solid;
    box-shadow: 0 0 0 1rem #141920;
}

footer {
    margin-top: 0;
}
