@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

:root {
    font-size: calc(1em + 1vw);
    @media screen and (min-width: 800px) {
        font-size: 24px;
    }
}

html {
    box-sizing: border-box;
    --color1: #1d8654;
    --color2: #1a363d;
    --color3: #174a47;
    --color4: #151b22;
    --color5: #2c2931;
    --color6: #382535;
}

html, body {
    margin: 0;
    min-height: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Share Tech Mono', monospace;
    
    background-color: var(--color4);
    color: white;

    scrollbar-width: thin;
    scrollbar-color: var(--color4) var(--color3);
    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-track {
        background: var(--color4);
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--color3);
        border-radius: 20px;
    }
}

*, *:before, *:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #329e97;
    &:hover {
        color: #39b4ac;
    }
}

.terminal {
	background-color: var(--color2);
	padding: 16px;
	border-radius: 16px;
	color: white;

	&::before {
		content: '$';
		color: var(--color1);
	}
}

.regex {
    &::before {
        content: '/';
        color: rgb(136, 216, 112);
    }
    &::after {
        content: '/';
        color: rgb(136, 216, 112);
    }
}

.comment {
    &::before {
        content: '//';
    }
}

header {
    background-color: var(--color4);

    & > div {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1.terminal {
            width: 100%;
            border-radius: 0;
            text-align: center;
            font-size: 1.5rem;
            margin: 0;
            margin-bottom: 1rem;
            z-index: 2;

            &::before {
                content: '';
            }
        }

        h2 {
            color: rgb(112, 172, 168);
            font-size: 1rem;
            transition: transform 1s, filter 1.5s;

            &.subtitle-hidden {
                visibility: hidden;
                transform: translateY(-2rem);
                filter: opacity(0);
            }
        }
    }

    nav {
        ul {
            text-align: center;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            
            @media screen and (max-width: 996px) {
                justify-content: space-around;
                .break {
                    flex-basis: 100%;
                    height: 0;
                    margin: 8px;
                }
            }
            
            li {
                display: inline-block;
                margin: 0 0.5rem;
            }
        }
    }
}

main {
    background-color: var(--color2);
    padding: 2rem;
    border-radius: 4px;
    height: 100%;

    @media screen and (min-width: 992px) {
        margin: 0 auto;
        width: 992px;
    }
}

footer {
    margin: 0;
    margin-top: 1rem;
    padding: 2rem;
    font-size: 0.75rem;
    text-align: center;
}
