<header>
    <nav>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/about/">about</a></li>
            <li><a href="/contact/">contact</a></li>
            <li><a href="/gallery/">gallery</a></li>
            <li><a href="/posts/">posts</a></li>
        </ul>
    </nav>
    {{ if . }}
    <h1 class="terminal">
        <span class="regex" alt=".*">{{ . }}</span>
    </h1>
    {{ end }}
</header>
<script src="{{ (resources.Get "js/textscroll.js" | minify).Permalink }}"></script>
