{{ define "title" }}
dotwildcard
{{ end }}

{{ define "styles" }}
<link rel="stylesheet" href="{{ (resources.Get "css/index.scss" | toCSS | minify).Permalink }}" />
{{ end }}

{{ define "header" }}
<header>
    <div>
        <nav>
            <ul>
                <li><a href="/about">about</a></li>
                <li><a href="/contact">contact</a></li>
                <li><a href="/posts">posts</a></li>
            </ul>
        </nav>
    </div>
</header>
{{ end }}

{{ define "main" }}
<h1 class="terminal">
    <span class="regex" content="{{ .Title }}" alt=".*"></span>
</h1>
<script src="{{ (resources.Get "js/textscroll.js" | minify).Permalink }}"></script>
{{ end }}
