{{ define "styles" }}
{{ $style := resources.Get "css/contact.scss" | toCSS }}
<link rel="stylesheet" type="text/css" href="{{ $style.Permalink }}">
{{ end }}

{{ define "main" }}
<main>
	{{ .Content }}


	<ul>
		<li class="twitter">
			<img src="/img/twitter_white.svg" alt="twitter" title="twitter">
			<a href="https://twitter.com/exdeejay_">@exdeejay_</a>
		</li>
		<li class="mastodon">
			<img src="/img/mastodon_white.svg" alt="twitter" title="twitter">
			<a href="https://furry.engineer/@deejay">@deejay@furry.engineer</a>
		</li>
		<li class="telegram">
			<img src="/img/telegram.svg" alt="telegram" title="telegram">
			<a href="https://t.me/exdeejay">@exdeejay</a>
		</li>
		<li class="discord">
			<img src="/img/discord_white.svg" alt="discord" title="discord">
			<span>DJ#4623</span>
		</li>
	</ul>
</main>
{{ end }}